* text=auto
*.ts text eol=lf
*.vue text eol=lf
*.css text eol=lf

# Установить поведение по умолчанию для всех файлов - использовать LF в репозитории
* text=auto eol=lf

# Для конкретных типов файлов, где это может быть критично (примеры):
# *.sh eol=lf
# *.bat eol=crlf